NEXT_PUBLIC_SANITY_PROJECT_ID=7t22hlt5
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-10-28
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3333
SANITY_API_READ_TOKEN=skxTrwTD8Rs9CZIg4AfBlbvLFQgdYv1looxDacOmaDxsnWqSuJtIo26y7U9uc84SGm7XLIqrNNw3QI25UOK5oD7PJtfx7tCzjcVcPBo04bIlpsnF2XQLHUUHRJVxKhpvMjXIiLmfmAx8ozA0lorbhKSDGTIC5jC7qHXnhLPW0wArmD1Lpvfs
SANITY_API_WRITE_TOKEN=skxTrwTD8Rs9CZIg4AfBlbvLFQgdYv1looxDacOmaDxsnWqSuJtIo26y7U9uc84SGm7XLIqrNNw3QI25UOK5oD7PJtfx7tCzjcVcPBo04bIlpsnF2XQLHUUHRJVxKhpvMjXIiLmfmAx8ozA0lorbhKSDGTIC5jC7qHXnhLPW0wArmD1Lpvfs
